/* Container principal da página de contato */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

/* Estilo Main do Formulário de Contato */
main.contact {
    padding: 80px 20px;
    text-align: center;
    background-color: #1A1A1A;
    min-height: calc(100vh - 60px - 80px);
}

/* Estilo do formulário de contato */
.contact-form {
    background-color: #252525;
    border-radius: 30px;
    padding: 40px;
    text-align: left;
    width: 500px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

/* Estilo Titulo Formulário de Contato */
.contact-form h2 {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

/* Estilo Texto Formulário de Contato */
.contact-form p {
    font-size: 16px;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Grupo de entrada de dados */
.input-group {
    margin-bottom: 15px;
}

/* Estilo Input Label */
.input-group label {
    display: block;
    font-size: 14px;
    color: #C1C1C1;
    margin-bottom: 5px;
}

/* Estilo Input */
.input-group input,
.input-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #555CFC;
    background-color: #1A1A1A;
    color: white;
    font-size: 16px;
}

/* Estilo Input */
.input-group input:focus,
.input-group textarea:focus {
    outline: none;
    border-color: #4048cc;
}

/* Botão de envio */
.btn {
    background-color: #555CFC;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    width: 100%;
}

/* Hover do Botão de envio */
.btn:hover {
    background-color: #4048cc;
}

.contato h2 {
    margin-top: 40px;
    font-size: 24px;
}

.contato p {
    font-size: 16px;
}

.contato hr {
    max-width: 1000px;
    margin: 0 auto; /* Centraliza o divisor horizontalmente */
    border: none;   /* Remove a borda padrão */
    border-top: 2px solid #555CFC; /* Cria um divisor com espessura e cor personalizadas */
    text-align: center;
}

.contato img {
    height: 1 auto;
    width: 1 auto;
    border-radius: 30px;
}

