/* Container principal do conteúdo */
.content-container {
    background-color: #252525;
    display: flex;
    gap: 80px;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px;
    border-radius: 30px;
    border-color: #555CFC;
    box-shadow: 0 15px 30px rgb(0, 0, 0, 1);
}

/* Estilo do texto */
.text-content {
    max-width: 70%;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    line-height: 1.5;
    text-align: justify;
    margin: 0 auto;
}

/* Estilo da imagem */
.jobu-image {
    width: 130px;
    margin-left: 20px;
}
