/* Container principal dos tickets */
.container {
    display: flex;
    gap: 4rem;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    margin-top: 50px;
}

/* Estilo dos cards */
.ticket {
    background-color: #252525;
    border-radius: 30px;
    padding: 20px;
    text-align: left;
    margin-top: 10px;
    height: 340px;
    width: 500px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0px 15px 10px rgba(85, 92, 252, 0.9);
}

/* Cabeçalho do ticket */
.ticket-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Estilo do titulo do card */
.ticket h2 {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

/* Estilo do preço */
.price {
    font-size: 20px;
    color: #555CFC;
    align-self: flex-start;
}

/* Estilo texto do card */
.ticket p {
    font-size: 16px;
    text-align: justify;
    line-height: 1.5;
    margin-top: 10px;
}

/* Estilo do botão */
.botao {
    background-color: #555CFC;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: auto;
    align-self: center;
    width: fit-content;
    font-size: 16px;
    text-decoration: none;
}

/* Estilo Hover do botão */
.botao:hover {
    background-color: #4048cc;
    text-decoration: none;
}

/* Responsividade para telas menores */
@media (max-width: 1200px) {
    .container {
        flex-direction: column;
        gap: 2rem;
    }

    .ticket {
        width: 80%;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .ticket {
        width: 90%;
    }

    .ticket-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .price {
        align-self: flex-end;
    }
}

@media (max-width: 480px) {
    .container {
        margin-top: 20px;
        gap: 1rem;
    }

    .ticket {
        width: 95%;
        padding: 10px;
    }

    .ticket h2 {
        font-size: 20px;
    }

    .ticket p {
        font-size: 14px;
    }

    .price {
        font-size: 18px;
    }

    .botao {
        font-size: 14px;
        padding: 8px 16px;
    }
}
