/* Tamanho logo */
.logo img {
    width: 70px;
}

/* Posicionamento logo a esquerda */
.logo {
    position: absolute;
    left: 15px; /* Margem de 15px da esquerda */
    top: 50%;
    transform: translateY(-50%); /* Centraliza verticalmente a logo */
}