/* Estilo da navegação no header */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    margin-bottom: 8px;
}

nav ul li {
    margin: 10px;
}

/* Links de navegação como botões */
nav a {
    text-decoration: none;
    color: #C1C1C1;
    padding: 10px 20px;
    background-color: #252525;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

/* Ícones dentro dos botões */
nav a img {
    height: 25px;
    margin-right: 8px;
}

/* Texto de navegação */
nav a span {
    font-size: 16px;
    font-weight: 500;
    line-height: 0;
}

/* Efeito de hover nos links de navegação */
nav a:hover {
    color: #ffffff;
    background-color: #555CFC;
}
